body {
	margin: 0;
	padding: 0;
	font-family: "Headland One", serif;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #65a5d1;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #79d165;
}

h1, h2, h3 {
	margin: 0 0 70px;
}

h1 {
	font-size: 60px;
	font-weight: lighter;
	margin: 0 0 50px;
}

h2 {
	font-size: 36px;
	line-height: 48px;
	font-weight: lighter;
}

h3 {
	font-size: 18px;
	line-height: 26px;
	font-weight: 200;
	font-family: Amethysta, serif;
}

body {
	background: #323232;
	color: #fff;
}

.content {
	margin: 0 auto;
	width: 850px;
	text-align: left;
	padding: 160px 0;
}

img {
	float: right;
	margin-left: 70px;
}

p {
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 26px;
	margin-bottom: 20px;
	font-family: "Amethysta", serif;
}