body {
	margin: 0;
	padding: 0;
	font-family: "Headland One", serif;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #65a5d1;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #79d165;
}

h1, h2, h3 {
	margin: 0 0 70px;
}

h1 {
	font-size: 72px;
	font-weight: lighter;
	margin: 0 0 90px;
}

h2 {
	font-size: 36px;
	line-height: 48px;
	font-weight: lighter;
}

h3 {
	font-size: 18px;
	line-height: 26px;
	font-weight: 200;
	font-family: Amethysta, serif;
}

.light_section, .dark_section {
	padding: 156px 0 86px;
}

.light_section .content, .dark_section .content {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

.spinner {
	width: 679px;
	margin: 0 auto;
	position: relative;
}

.spinner .image {
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.05);
	width: 679px;
	height: 382px;
	position: relative;
}

.spinner .item {
	margin: 0 0 60px;
	width: 679px;
	height: 455px;
	position: relative;
}

.spinner .selectors
{
	position: absolute;
	top: 358px;
	right: 16px;
}

.spinner .selectors div
{
	width: 10px;
	height: 10px;
	background: url('images/plupp.png');
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

.spinner .selectors div.current
{
	background: url('images/plupp_current.png');
}


.spinner .item p {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
}

.spinner .item p, .spinner .item a {
	font-family: Amethysta, serif;
	text-align: center;
	line-height: 24px;
	font-size: 22px;
}

.spinner .item a {
	margin-left: 10px;
}

.light_section .spinner .image {
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.05);
}

.light_section {
	background: #fff;
	color: #212121;
}

.dark_section {
	background: #323232;
	color: #fff;
}

.bitsquid {
	color: #e08dac;
}

.karl {
	float: right;
}

.clearfix {
	clear: both;
}

.contact {
	width: 600px;
	margin: 0 auto;
	padding: 0 0 50px 0;
}

.contact_item {
	text-align: left;
	font-size: 16px;
	margin-bottom: 42px;
}

.contact_item h1 {
	font-size: 24px;
	margin: 0 0 10px;
}
